/********************/
/* COLOUR VARIABLES */
/********************/

:root {
    --bg-colour: #fff;
    --text-colour: #46413e;
    --header-colour: #523233;
    --link-hover-colour: #bc661d;
    --block-border-colour: #dcb04f;
    --btn-colour: #488888;
    --btn-hover-colour: #5a6c9e;
    --alpha-letter-colour: #bf6277;
  }

/*****************/
/***** BASIC *****/
/*****************/

body {
    background: var(--bg-colour);
    text-align: left;
    margin:0 auto;
    color: var(--text-colour);
}

#main, .main-wrapper {
    width: 80%;
    margin:0 auto;
}

.block {
    border-color: var(--block-border-colour);
}

a {
    color: var(--text-colour);
}

a:hover, a:active {
    color: var(--link-hover-colour);
}

.nav-link {
    color: var(--text-colour);
    cursor: pointer;
}

.nav-link:hover, .nav-link:active {
    color: var(--link-hover-colour);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--header-colour);
}

.btn-primary {
    background-color: var(--btn-colour);
    border: 0px;
}

.btn-primary:hover {
    background-color: var(--btn-hover-colour);
}

.btn-discord {
    background-color:#5865f2;
}

.btn-discord>a, .btn-discord>i {
    color: #fff;
    text-decoration: none;
}

.btn-discord>a {
    margin-left: 10px;
}

/******************/
/***** HEADER *****/
/******************/

#hdr-alpha-sign {
    position: relative;
    top: -0.5em;
    font-size: 80%;
    color: var(--alpha-letter-colour);
}

.title {
    font-size: 11pt;
    font-family: verdana;
    font-weight: bold;
}

/*******************/
/***** SIDEBAR *****/
/*******************/
#main_sidebar div {
    margin-top: 30px;
}

.main-side-block {
    width: 300px;
}

#main-socials-block {
    position: relative;
}

.main-socials {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.main-socials-plus {
    z-index: 1;
}

/******************/
/***** RELEASE *****/
/******************/

.main-tracklist {
    margin-left: 30px;
}

.main-tracklist-link {
    text-decoration: none;
}

/******************/
/***** FOOTER *****/
/******************/


#main-footer {
    width: 100%;
    text-align: center;
}

#main-footer.main-wrapper {
    padding-left: 20px;
}

.ftr-crossed {
    text-decoration-line: line-through;
}

#ftr-left-block {
    text-align: left;
}

#ftr-right-block {

}