body {
    text-align: left;
    margin:0 auto;
}

#main, .main-wrapper {
    width: 80%;
    margin:0 auto;
}

/******************/
/***** HEADER *****/
/******************/

#hdr-alpha-sign {
    position: relative;
    top: -0.5em;
    font-size: 80%;
    color: red;
}

#main_sidebar {
    border-left: 1px solid black;
}

#main_footer {
    width: 100%;
    border-top: 1px #a2a2a2 solid;
    text-align: center;
}

.title {
    font-size: 11pt;
    font-family: verdana;
    font-weight: bold;
}

/******************/
/***** FOOTER *****/
/******************/

.ftr-crossed {
    text-decoration-line: line-through;
}

#ftr-left-block {
    text-align: left;
}

#ftr-right-block {

}